/* 文字高亮样式 */
.highlight {
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 2px;
}
/* 文字颜色 */
.hikari {
  color: black;
  background-color: #ffffff;
}
.zeropink {
  color: black;
  background-color: #f6e8ea;
}
.chierigray {
  color: black;
  background-color: #dddee0;
}
