/* 布局 */
body {
  margin: 0;
}

details {
  margin-bottom: 1rem;
}

/* 分页居中 */
div[style*="max-width: 700px"][style*="text-align: center"] {
  text-align: center !important;
}

/* 底部翻页按钮 */
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
